[submodule "dong/third_party/quickjs"]
	path = dong/third_party/quickjs
	url = https://github.com/bellard/quickjs
[submodule "dong/third_party/lexbor"]
	path = dong/third_party/lexbor
	url = https://github.com/lexbor/lexbor
[submodule "dong/third_party/yoga"]
	path = dong/third_party/yoga
	url = https://github.com/facebook/yoga
[submodule "dong/third_party/sdl"]
	path = dong/third_party/sdl
	url = https://github.com/in-dreaming/SDL.git
[submodule "dong/third_party/SDL_shadercross"]
	path = dong/third_party/SDL_shadercross
	url = https://github.com/in-dreaming/SDL_shadercross.git
[submodule "dong/third_party/msdfgen"]
	path = dong/third_party/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "dong/third_party/harfbuzz"]
	path = dong/third_party/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "dong/third_party/freetype"]
	path = dong/third_party/freetype
	url = https://github.com/in-dreaming/freetype.git
[submodule "dong/third_party/ffmpeg"]
	path = dong/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
